NEXT_PUBLIC_CAT_API_KEY=live_Z8dIDIGDv7ByXd7Wtw6jg5CjKvg3AmROsw5yr9xj6XDAyIIzLMSJ6v6LrObAU2v5
NEXT_PUBLIC_CAT_API_URL=https://api.thecatapi.com/v1
APP_URL=netlify.app
MONGODB_URI=mongodb+srv://ro11ander:CdFvmAv0MjJuFXDF@cluster0.gar5dna.mongodb.net/catWiki?retryWrites=true&w=majority